@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --clr-green: rgb(58, 170, 26);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px = 1rem */
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

.loading {
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
}

/* SEARCHBAR */
.nav {
  width: 100%;
  padding: 2rem;
  background-color: #000;
}

.nav form {
  display: flex;
  justify-content: center;
  position: relative;
}

.search-input {
  font-size: 1.8rem;
  border: 0.2rem solid #000;
  padding: 1rem 3rem;
  width: 100%;
  background-color: #000;
  color: var(--clr-green);
}

.search-input:focus,
.search-input:active {
  outline: none;
  border-bottom: 0.2rem solid var(--clr-green);
}

.search-label {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
}

.search-icon {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  border: 0.2rem solid var(--clr-green);
  border-radius: 100%;
  margin-top: -0.425rem;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.search-icon:after {
  content: '';
  width: 0.2rem;
  height: 1rem;
  border-radius: 0.3rem;
  background: var(--clr-green);
  position: absolute;
  top: 1rem;
  left: 1.2rem;
  transform: rotate(-45deg);
}

.search-icon:hover {
  transform: scale(1.2);
}

/* LOGS */
.logs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logs-title {
  font-size: 3rem;
  margin: 2rem 0;
}

.logs-list {
  list-style-type: none;
  align-self: flex-start;
  width: 100%;
}

.logs-item {
  padding: 1rem 0;
  border-top: 0.1rem solid #000;
  position: relative;
}

.logs-link {
  font-weight: var(--fw-medium);
  font-size: 1.6rem;
  text-decoration: none;
}

.logs-delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.logs-delete:active,
.logs-delete:focus {
  outline: none;
}

.logs-details {
  margin-top: 0.3rem;
  font-size: 1.3rem;
  text-decoration: none;
  display: flex;
}

.logs-details span:nth-child(1) {
  margin-right: auto;
  margin-left: 1rem;
}

/* BUTTONS */
.buttons {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.buttons > div {
  display: inline-block;
  width: 4.4rem;
  height: 4.4rem;
  border: 0.1rem solid #000;
  border-radius: 0.4rem;
  transition: all 200ms ease-in;
  background-color: var(--clr-green);
  margin-bottom: 1rem;
  cursor: pointer;
}

.buttons > div:hover {
  transform: scale(1.2);
  box-shadow: 0.1rem 0.1rem 0.4rem #000;
}

.buttons > div:not(:last-child) {
  margin-right: 3rem;
}

/* Add Log */
.add-log {
  position: relative;
}

.add-log:before,
.add-log:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #000;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

.add-log:before {
  height: 2rem;
  width: 0.2rem;
}

.add-log:after {
  height: 0.2rem;
  width: 2rem;
}

/* Add Tech */
/* List Techs */
.add-tech {
  position: relative;
  background: linear-gradient(to left, #000 2rem, transparent) no-repeat 2.6rem
      1.9rem/1.4rem 0.2rem,
    linear-gradient(to bottom, #000 2rem, transparent) no-repeat 3.2rem 1.3rem/0.2rem
      1.4rem;
}

.list-techs {
  position: relative;
  background: linear-gradient(to left, #000 2rem, transparent) no-repeat 2.6rem
      1.9rem/ 1.4rem 0.2rem,
    linear-gradient(to left, #000 2rem, transparent) no-repeat 2.6rem 1.5rem/ 1.4rem
      0.2rem,
    linear-gradient(to left, #000 2rem, transparent) no-repeat 2.6rem 2.3rem/ 1.4rem
      0.2rem;
}

.add-tech:before,
.add-tech:after,
.list-techs:before,
.list-techs:after {
  content: '';
  position: absolute;
  border: 0.2rem solid #000;
}

.add-tech:before,
.list-techs:before {
  top: 0.7rem;
  left: 1rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}

.add-tech:after,
.list-techs:after {
  top: 50%;
  left: 0.7rem;
  width: 1.4rem;
  height: 1.4rem;
  border-bottom: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* MODALS */
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-title {
  font-size: 3rem;
  padding-bottom: 0.2rem;
  margin: 2rem 0;
  border-bottom: 0.2rem solid #000;
}

.modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-label {
  display: block;
  font-size: 1.6rem;
  margin: 1.5rem 0 0.2rem;
  font-weight: var(--fw-medium);
}
.modal-input {
  width: 50%;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: 0.2rem solid var(--clr-green);
  border-radius: 0.4rem;
}

.modal-input:focus,
.modal-input:active {
  outline: none;
  background-color: #f4f4f4;
}

.modal-checkbox span {
  margin-top: -1rem;
  width: 2.2rem;
  height: 2.2rem;
  display: block;
  border: 0.2rem solid #000;
  border-radius: 0.4rem;
  position: relative;
  transition: all 100ms ease-in;
}

.modal-checkbox span:before,
.modal-checkbox span:after {
  content: '';
  position: absolute;
  height: 0.3rem;
  background-color: #000;
  transition: all 100ms ease-in;
  opacity: 0;
}

.modal-checkbox span:before {
  top: 50%;
  left: 10%;
  width: 0.8rem;
  transform: rotate(45deg);
}

.modal-checkbox span:after {
  top: 40%;
  left: 30%;
  width: 1.2rem;
  transform: rotate(-45deg);
}

.modal-checkbox input {
  appearance: none;
}

.modal-checkbox input:checked + span {
  background-color: var(--clr-green);
}

.modal-checkbox input:checked + span:before,
.modal-checkbox input:checked + span:after {
  opacity: 1;
}

.modal-submit {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: var(--clr-green);
  font-weight: var(--fw-medium);
  margin-top: 3rem;
  border: 0.2rem solid var(--clr-green);
  border-radius: 0.4rem;
  padding: 1rem 2rem;
  transition: all 150ms ease-in;
}

.modal-submit:hover {
  color: #000;
  background-color: var(--clr-green);
  border: 0.2rem solid #000;
}

.tech-list {
  list-style: none;
  width: min(100%, 40rem);
}

.tech-item {
  color: rgb(78, 78, 78);
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  border-top: 0.1rem solid #000;
}

.tech-name {
  color: #000;
  font-weight: var(--fw-medium);
}

.tech-delete {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.tech-delete:active,
.tech-delete:focus {
  outline: none;
}
